dsss:
  chipping_code:
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  - 1
  enabled: true
  spreading_factor: 31
hardware:
  args: type=b200
  rx_antenna: TX/RX
  rx_gain: 50
  samp_rate: 2000000
  tx_antenna: TX/RX
  tx_gain: 50
hopping:
  aes_key: 000102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f
  channel_spacing: 150000
  dwell_time_ms: 200
  enabled: false
  initial_seed: 2766
  lookahead_ms: 10
  num_channels: 50
  sync_mode: TOD
  type: AES
link_layer:
  crc_type: CRC16
  use_fec: true
  use_interleaving: true
  use_manchester: false
  use_nrzi: true
  use_whitening: true
mission:
  id: AUTO_TEST
physical:
  center_freq: 915000000
  freq_dev: 125000
  mod_index: 1.0
  modulation: DBPSK
  samp_rate: 2000000
  samples_per_symbol: 8
